@use "./variable.scss" as v;
@use "./functions.scss" as f;

@mixin after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 0.2rem;
}

.large-button {
    position: relative;
    display: grid;
    z-index: 1;
    place-items: center;
    text-decoration: none;
    padding: 0 2em;
    border-radius: 50%;
    aspect-ratio: 1; // turns into perfect square

    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        background-color: f.hsl-alpha(v.$clr-white, 0.1);
        width: 100%;
        height: 100%;
        border-radius: inherit;
        opacity: 0;
        transition: opacity 500ms linear, transform 750ms ease-in-out;
    }
}

.large-button:hover::after,
.large-button:focus::after {
    opacity: 1;
    transform: scale(1.5);
}

.primary-navigation {
    --gap: 8rem;
    --underline-gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;

    a {
        text-decoration: none;

        span {
            margin-right: 0.5em;
            font-weight: 700;
        }
    }
}

.underline-indicators {
    > * {
        cursor: pointer;
        padding: var(--underline-gap, 1em) 0;
        border: 0;
        border-bottom: 0.2rem solid f.hsl-alpha(v.$clr-white, 0);
    }
}

.underline-indicators > *:hover,
.underline-indicators > *:focus-within {
    border-color: f.hsl-alpha(v.$clr-white, 0.5);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
    color: f.hsl-alpha(v.$clr-white, 1);
    border-color: f.hsl-alpha(v.$clr-white, 1);
}

.secondary-navigation {
    > * {
        background-color: v.$clr-transp;
    }
}

.dot-indicators > * {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    aspect-ratio: 1;
    padding: 0.5em;
    background-color: f.hsl-alpha(v.$clr-white, 0.25);
}

.dot-indicators > *:hover,
.dot-indicators > *:focus {
    background-color: f.hsl-alpha(v.$clr-white, 0.5);
}

.dot-indicators > [aria-selected="true"] {
    background-color: f.hsl-alpha(v.$clr-white, 1);
}

.numbers {
    --flow-space: 2rem;
}

.numbers > * {
    cursor: pointer;
    display: grid;
    place-items: center;
    border-radius: 50%;
    aspect-ratio: 1;
    padding: 0 1.25em;
    border: 0.125rem solid f.hsl-alpha(v.$clr-white, 0.25);
}

.numbers > *:hover,
.numbers > *:focus {
    border-color: f.hsl-alpha(v.$clr-white, 1);
}

.numbers > [aria-selected="true"] {
    border-color: f.hsl-alpha(v.$clr-white, 1);
    background-color: f.hsl-alpha(v.$clr-white, 1);
    color: v.$clr-dark;
}
