@use "./variable.scss" as v;
/* --------------------- */
/*         RESET         */
/* --------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing  */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

/* none of the fonts in the design system are bold. h tags by default are bold but the custom fonts from google fonts are attached to the project without the bold types, so to not get weird render of font, font-weight gets resetted: */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* Set up the body */

.page {
    line-height: 1.5;
    min-height: 100vh;
    font-family: v.$ff-sans-normal;
    font-size: v.$fs-400;
    background-color: v.$clr-dark;
    color: v.$clr-white;

    display: grid;
    grid-template-rows: min-content 1fr;

    overflow-x: hidden;

    background-size: cover;
    background-position: bottom center;
}

.page.home {
    background-image: url("./assets/home/background-home-mobile.jpg");

    @media (min-width: 45em) {
        background-position: center center;
        background-image: url("./assets/home/background-home-tablet.jpg");
    }

    @media (min-width: 55em) {
        background-image: url("./assets/home/background-home-desktop.jpg");
    }
}

.page.destination {
    background-image: url("./assets/destination/background-destination-mobile.jpg");

    @media (min-width: 45em) {
        background-position: center center;
        background-image: url("./assets/destination/background-destination-tablet.jpg");
    }

    @media (min-width: 55em) {
        background-image: url("./assets/destination/background-destination-desktop.jpg");
    }
}

.page.crew {
    background-image: url("./assets/crew/background-crew-mobile.jpg");

    @media (min-width: 45em) {
        background-position: center center;
        background-image: url("./assets/crew/background-crew-tablet.jpg");
    }

    @media (min-width: 55em) {
        background-image: url("./assets/crew/background-crew-desktop.jpg");
    }
}

.page.technology {
    background-image: url("./assets/technology/background-technology-mobile.jpg");

    @media (min-width: 45em) {
        background-position: center center;
        background-image: url("./assets/technology/background-technology-tablet.jpg");
    }

    @media (min-width: 55em) {
        background-image: url("./assets/technology/background-technology-desktop.jpg");
    }
}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    /* max-width:100% makes sure the images will shrink as the viewports gets narrower  */
    display: block;
}

/* make form element easier to work with */
input,
button,
textarea,
select {
    /* by default these elements don't inherit front properties  */
    font: inherit;
}

/* remove animations for people who turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
